---
import Section from "@/components/core/Section.astro";
import Features from "@/components/Features.astro";
import Stats from "@/components/Stats.astro";
import Base from "@/layouts/Base.astro";
import Cta from "@/layouts/partials/Cta.astro";
import { getEntry } from "astro:content";

const service = await getEntry("services", "service3");
const { banner, stats, sections, features, call_to_action } = service.data;
---

<Base entry_keys={["services", "service3"]}>
  <!-- Banner -->
  <section class="lg:mb-10 animate-fade-in">
    <Section section={banner} />
  </section>

  <!-- Stats -->
  {stats && stats.length > 0 && <Stats stats={stats} />}

  <!-- Multi Section -->
  {
    sections && sections.length > 0 && (
      <section class="multi-section">
        {sections.map((section) => (
          <Section section={section} />
        ))}
      </section>
    )
  }

  <!-- Features -->
  {features && <Features features={features} />}

  <!-- Call to Action -->
  <Cta {...call_to_action} />
</Base>
